/* This CSS file modifies every HTML page.*/
body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
.mainGrid{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

#backgroundImageContainer{
    background-image: url(Images/matt/TerraByteResized/TB10R.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* animation-delay: 4s; */
    grid-row-start: 1;
    grid-row-end: 11;
    grid-column-start: 1;
    grid-column-end: 13;
}

.home #backgroundImageContainer{
    animation: animate 30s infinite;
}
@keyframes animate{
    0%{
        background-image: url(Images/matt/TerraByteResized/TB10R.jpg);
    }
    16.66%{
        background-image: url(Images/matt/TerraByteResized/TB10R.jpg);
    }
    16.67%{
        background-image: url(Images/matt/Zbrush3DModels/b8.jpg);
    }
    33.33%{
        background-image: url(Images/matt/Zbrush3DModels/b8.jpg);
    }
    33.34%{
        background-image: url(Images/matt/TerraByteResized/TB1R.jpg);
    }
    49.99%{
        background-image: url(Images/matt/TerraByteResized/TB1R.jpg);
    }
    50%{
        background-image: url(Images/matt/TerraByteResized/TB7R.jpg);;
    }
    66.66%{
        background-image: url(Images/matt/TerraByteResized/TB7R.jpg);;
    }
    66.67%{
        background-image: url(Images/matt/Zbrush3DModels/a10.jpg);
    }
    83.33%{
        background-image: url(Images/matt/Zbrush3DModels/a10.jpg);
    }
    83.34%{
        background-image: url(Images/matt/TerraByteResized/TB9R.jpg);;
    }
    100%{
        background-image: url(Images/matt/TerraByteResized/TB9R.jpg);;
    }
}
#navigationBarOverlay{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 13;
    background: rgba(0, 0, 0, 0.4);
    /* box-shadow: 0px 0px 5px 1px blackinset; */
}

#title{
    /* border: 5px green solid; */
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 5;
    text-align: center;
}
#name{
    color: white;
    font-size: 150%;
    font-family: 'Lexend Zetta', sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
@keyframes animateName{
    100%{
        color: cyan;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }
}
#occupation{
    color: white;
    font-size: 80%;
    font-family: 'Lexend Zetta', sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
@keyframes animateOccupation{
    100%{
        color: cyan;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }
}
#navigationBar{
    /* border: 5px pink solid; */
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 7;
    grid-column-end: 11;
}
.navigationBarLayout{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 70%;
}
.navigationBarOptions{
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-family: 'Anton', sans-serif;
}
.navigationBarOptions:hover{
    animation: animateNavigation .4s ease-in-out forwards;
}
@keyframes animateNavigation{
    100%{
        color: cyan;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }
}

#footerOverlay{
    background: rgb(49, 49, 49, 1);
    grid-row-start: 10;
    grid-row-end: 11;
    grid-column-start: 1;
    grid-column-end: 13;
    /* border: 2px black solid; */
    box-shadow: 0px 0px 5px 1px #888888 inset;
}
#socialMediaFooter{
    /* border: 5px blue solid; */
    grid-row-start: 10;
    grid-row-end: 11;
    grid-column-start: 5;
    grid-column-end: 9;
    display: flex;
    justify-content: space-around;
}
.socialMediaLink{
    /* border: 5px red solid; */
    width: 20%;
    height: 50%;
    position: relative;
}
.socialMediaLogos{
    max-width: 70%;
    max-height: 70%; 
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#contactOverlay{
    grid-row-start: 2;
    grid-row-end: 10;
    grid-column-start: 4;
    grid-column-end: 10;
    background: rgba(0, 0, 0, 0.4);
}
#contactImageDiv{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 6;
    grid-column-end: 8;
    display: flex;
    justify-content: center;
}
#contactImage{
    height: 90%;
    width: 30%;
    background-image: url(Images/contact_icon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px black solid;
    box-shadow: 0px 0px 3px 1px red inset; 
}
#contactInformation{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 5;
    grid-column-end: 9;
    text-align: center;
}
#email{
    color: gold;
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 75%;
}

/* 320px, 360px, 400px */
@media screen and (max-width: 600px) {
    .home #backgroundImageContainer{
        animation: none;
    }
    .home #backgroundImageContainer, .resume #backgroundImageContainer, .contact #backgroundImageContainer{
        background-image: url(Images/matt/misc/m9.jpg);
        grid-row-start: 2;
        grid-row-end: 10;
        grid-column-start: 1;
        grid-column-end: 13;
    }    
    .home #title, .resume #title, .contact #title{
        grid-area: 1/1/2/7;
    }
    #name{
        font-size: 90%;
    }
    #occupation{
        font-size: 50%;
    }
    .home #navigationBarOverlay, .resume #navigationBarOverlay, .contact #navigationBarOverlay{
        background: rgba(136, 133, 128, 1);
        box-shadow: none;
    }
    .home #navigationBar, .resume #navigationBar, .contact #navigationBar{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 6;
        grid-column-end: 13;
    }
    .navigationBarLayout{
        height: 50%;
    }
    .navigationBarOptions{
        font-size: 60%;
    }
    .home #socialMediaFooter, .resume #socialMediaFooter, .contact #socialMediaFooter{
        grid-area: 10/1/11/13;
    }
    .contact #contactOverlay{
        grid-area: 2/1/10/13;
    }
    .contact #contactImageDiv{
        grid-area: 3/4/4/10;
    }
    .contact #contactInformation{
        grid-area: 4/1/5/13;
    }
    .contact #email{
        font-size: 75%;
        color: cyan;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    } 
}

@media screen and (min-width: 600px) and (max-width: 768px){
    .home #backgroundImageContainer{
        animation: none;
    }
    .home #backgroundImageContainer, .resume #backgroundImageContainer, .contact #backgroundImageContainer{
        background-image: url(Images/matt/misc/m9.jpg);
        grid-row-start: 2;
        grid-row-end: 10;
        grid-column-start: 1;
        grid-column-end: 13;
    }    
    .home #title, .resume #title, .contact #title{
        grid-area: 1/1/2/7;
    }
    #name{
        font-size: 130%;
    }
    #occupation{
        font-size: 80%;
    }
    .home #navigationBarOverlay, .resume #navigationBarOverlay, .contact #navigationBarOverlay{
        background: rgba(136, 133, 128, 1);
        box-shadow: none;
    }
    .home #navigationBar, .resume #navigationBar, .contact #navigationBar{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 6;
        grid-column-end: 13;
    }
    .navigationBarLayout{
        height: 64%;
    }
    .navigationBarOptions{
        font-size: 80%;
    }
    .home #socialMediaFooter, .resume #socialMediaFooter, .contact #socialMediaFooter{
        grid-area: 10/1/11/13;
    }
    .contact #contactOverlay{
        grid-area: 2/1/10/13;
    }
    .contact #contactImageDiv{
        grid-area: 3/4/4/10;
    }
    .contact #contactInformation{
        grid-area: 4/1/5/13;
    }
    .contact #email{
        font-size: 90%;
        color: cyan;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    } 
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .home #backgroundImageContainer{
        animation: none;
    }
    .home #backgroundImageContainer, .resume #backgroundImageContainer, .contact #backgroundImageContainer{
        background-image: url(Images/matt/misc/m9.jpg);
        grid-row-start: 2;
        grid-row-end: 10;
        grid-column-start: 1;
        grid-column-end: 13;
    }    
    .home #title, .resume #title, .contact #title{
        grid-area: 1/1/2/7;
    }
    #name{
        font-size: 150%;
    }
    #occupation{
        font-size: 80%;
    }
    .home #navigationBarOverlay, .resume #navigationBarOverlay, .contact #navigationBarOverlay{
        background: rgba(136, 133, 128, 1);
        box-shadow: none;
    }
    .home #navigationBar, .resume #navigationBar, .contact #navigationBar{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 6;
        grid-column-end: 13;
    }
    .navigationBarLayout{
        height: 70%;
    }
    .navigationBarOptions{
        font-size: 100%;
    }
    .home #socialMediaFooter, .resume #socialMediaFooter, .contact #socialMediaFooter{
        grid-area: 10/1/11/13;
    }
    .contact #contactOverlay{
        grid-area: 2/1/10/13;
    }
    .contact #contactImageDiv{
        grid-area: 3/4/4/10;
    }
    .contact #contactInformation{
        grid-area: 4/1/5/13;
    }
    .contact #email{
        font-size: 100%;
        color: cyan;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    } 
}

@media screen and (min-width: 1024px) and (max-width: 1366px){
    .home #title, .resume #title, .contact #title{
        grid-area: 1/1/2/7;
    }
    #name{
        font-size: 150%;
    }
    #occupation{
        font-size: 80%;
    }
    .home #navigationBar, .resume #navigationBar, .contact #navigationBar{
        grid-area: 1/7/2/12;
    }
    .navigationBarLayout{
        height: 75%;
    }
    .home #socialMediaFooter, .resume #socialMediaFooter, .contact #socialMediaFooter{
        grid-area: 10/2/11/12;
    }
    .contact #contactOverlay{
        grid-area: 2/1/10/13;
    }
    .contact #contactImageDiv{
        grid-area: 3/4/5/10;
    }
    .contact #contactInformation{
        grid-area: 5/1/6/13;
    }
    .contact #email{
        font-size: 100%;
        color: cyan;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    } 
}

@media screen and (min-width: 1366px) and (max-width: 1600px){
    .home #socialMediaFooter, .resume #socialMediaFooter, .contact #socialMediaFooter{
        grid-area: 10/4/11/10;
    }
}

/* 
@media screen and (max-width: 1440px) {
    .home #socialMediaFooter, .resume #socialMediaFooter, .contact #socialMediaFooter{
        grid-area: 10/4/11/10;
    }
    .home #navigationBar, .resume #navigationBar, .contact #navigationBar{
        grid-area: 1/7/2/12;
    }
    .home #title, .resume #title, .contact #title{
        grid-area: 1/2/2/6;
    }
}

@media screen and (max-width: 1366px) {
    .contact #contactOverlay{
        grid-area: 2/3/10/11;
    }
    .contact #contactInformation{
        grid-area: 4/1/5/13;
    }
}

@media screen and (max-width: 900px) and (max-height: 600px){
    .home #socialMediaFooter, .resume #socialMediaFooter, .contact #socialMediaFooter{
        grid-area: 10/3/11/11;
    }
    .home #navigationBar, .resume #navigationBar, .contact #navigationBar{
        grid-area: 1/6/2/13;
    }
    .contact #contactImageDiv{
        grid-area: 3/5/5/9;
    }
    .contact #contactInformation{
        grid-area: 5/1/6/13;
    }
}

@media screen and (max-width: 800px) {
    .home .navigationBarLayout, .resume .navigationBarLayout, .contact .navigationBarLayout{
        height: 78%;
    }
    .home .navigationBarOptions, .resume .navigationBarOptions, .contact .navigationBarOptions{
        font-size: 90%;
    }
    .home #name, .resume #name, .contact #name{
        font-size: 120%;
    }
    .home #occupation, .resume #occupation, .contact #occupation{
        font-size: 60%;
    }
}

@media screen and (max-width: 1440px) and (max-height: 2960px) and (min-width: 1125px) and (min-height: 1920px){
    .home #backgroundImageContainer{
        animation: none;
    }
    .home #backgroundImageContainer, .resume #backgroundImageContainer, .contact #backgroundImageContainer{
        background-image: url(Images/matt/misc/m9.jpg);
        grid-row-start: 2;
        grid-row-end: 10;
        grid-column-start: 1;
        grid-column-end: 13;
    }    
    .home #name, .resume #name, .contact #name{
        font-size: 200%;
    }
    .home #occupation, .resume #occupation, .contact #occupation{
        font-size: 100%;
    }
    .home #navigationBarOverlay, .resume #navigationBarOverlay, .contact #navigationBarOverlay{
        background: rgba(136, 133, 128, 1);
        box-shadow: none;
    }
    .home .navigationBarLayout, .resume .navigationBarLayout, .contact .navigationBarLayout{
        height: 32%;
    }
    .home .navigationBarOptions, .resume .navigationBarOptions, .contact .navigationBarOptions{
        font-size: 130%;
    }
    .home #socialMediaFooter, .resume #socialMediaFooter, .contact #socialMediaFooter{
        grid-area: 10/2/11/12;
    }
    .contact #contactOverlay{
        grid-area: 2/1/10/13;
    }
    .contact #contactImageDiv{
        grid-area: 3/4/4/10;
    }
    .contact #contactInformation{
        grid-area: 4/1/5/13;
    }
    .contact #email{
        font-size: 200%;
        color: cyan;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }
}

@media screen and (max-width: 1440px) and (max-height: 2560px) and (min-width: 1125px) and (min-height: 2300px){
    .home .navigationBarLayout, .resume .navigationBarLayout, .contact .navigationBarLayout{
        height: 40%;
    }
}

@media screen and (max-width: 1440px) and (max-height: 2300px) and (min-width: 1125px) and (min-height: 1920px){
    .home .navigationBarLayout, .resume .navigationBarLayout, .contact .navigationBarLayout{
        height: 50%;
    }
}

@media screen and (max-width: 1125px) and (max-height: 2436px) and (min-width: 750px) and (min-height: 1334px){
    .home #backgroundImageContainer{
        animation: none;
    }
    .home #backgroundImageContainer, .resume #backgroundImageContainer, .contact #backgroundImageContainer{
        background-image: url(Images/matt/misc/m9.jpg);
        grid-row-start: 2;
        grid-row-end: 10;
        grid-column-start: 1;
        grid-column-end: 13;
    }    
    .home #title, .resume #title, .contact #title{
        grid-area: 1/1/2/7;
    }
    .home #name, .resume #name, .contact #name{
        font-size: 200%;
    }
    .home #occupation, .resume #occupation, .contact #occupation{
        font-size: 100%;
    }
    .home #navigationBarOverlay, .resume #navigationBarOverlay, .contact #navigationBarOverlay{
        background: rgba(136, 133, 128, 1);
        box-shadow: none;
    }
    .home .navigationBarLayout, .resume .navigationBarLayout, .contact .navigationBarLayout{
        height: 40%;
    }
    .home .navigationBarOptions, .resume .navigationBarOptions, .contact .navigationBarOptions{
        font-size: 130%;
    }
    .home #socialMediaFooter, .resume #socialMediaFooter, .contact #socialMediaFooter{
        grid-area: 10/2/11/12;
    }
    .contact #contactOverlay{
        grid-area: 2/1/10/13;
    }
    .contact #contactImageDiv{
        grid-area: 3/4/4/10;
    }
    .contact #contactInformation{
        grid-area: 4/1/5/13;
    }
    .contact #email{
        font-size: 170%;
        color: cyan;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }
}

@media screen and (max-width: 1125px) and (max-height: 2000px) and (min-width: 750px) and (min-height: 1334px){
    .home .navigationBarLayout, .resume .navigationBarLayout, .contact .navigationBarLayout{
        height: 52%;
    }
}

@media screen and (max-width: 1125px) and (max-height: 1750px) and (min-width: 750px) and (min-height: 1334px){
    .home .navigationBarLayout, .resume .navigationBarLayout, .contact .navigationBarLayout{
        height: 60%;
    }
}

@media screen and (max-width: 1125px) and (max-height: 1500px) and (min-width: 750px) and (min-height: 1334px){
    .home .navigationBarLayout, .resume .navigationBarLayout, .contact .navigationBarLayout{
        height: 70%;
    }
}

@media screen and (max-width: 768px) and (max-height: 1334px) and (min-width: 600px) and (min-height: 1000px){
    .home #backgroundImageContainer{
        animation: none;
    }
    .home #backgroundImageContainer, .resume #backgroundImageContainer, .contact #backgroundImageContainer{
        background-image: url(Images/matt/misc/m9.jpg);
        grid-row-start: 2;
        grid-row-end: 10;
        grid-column-start: 1;
        grid-column-end: 13;
    }    
    .home #title, .resume #title, .contact #title{
        grid-area: 1/1/2/7;
    }
    .home #name, .resume #name, .contact #name{
        font-size: 175%;
    }
    .home #occupation, .resume #occupation, .contact #occupation{
        font-size: 80%;
    }
    .home #navigationBarOverlay, .resume #navigationBarOverlay, .contact #navigationBarOverlay{
        background: rgba(136, 133, 128, 1);
        box-shadow: none;
    }
    .home .navigationBarLayout, .resume .navigationBarLayout, .contact .navigationBarLayout{
        height: 60%;
    }
    .home .navigationBarOptions, .resume .navigationBarOptions, .contact .navigationBarOptions{
        font-size: 130%;
    }
    .home #socialMediaFooter, .resume #socialMediaFooter, .contact #socialMediaFooter{
        grid-area: 10/2/11/12;
    }
    .contact #contactOverlay{
        grid-area: 2/1/10/13;
    }
    .contact #contactImageDiv{
        grid-area: 3/4/4/10;
    }
    .contact #contactInformation{
        grid-area: 4/1/5/13;
    }
    .contact #email{
        font-size: 120%;
        color: cyan;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }
}

@media screen and (max-width: 600px) and (max-height: 1000px) and (min-width: 370px) and (min-height: 640px){
    .home #backgroundImageContainer{
        animation: none;
    }
    .home #backgroundImageContainer, .resume #backgroundImageContainer, .contact #backgroundImageContainer{
        background-image: url(Images/matt/misc/m9.jpg);
        grid-row-start: 2;
        grid-row-end: 10;
        grid-column-start: 1;
        grid-column-end: 13;
    }    
    .home #title, .resume #title, .contact #title{
        grid-area: 1/1/2/7;
    }
    .home #name, .resume #name, .contact #name{
        font-size: 125%;
    }
    .home #occupation, .resume #occupation, .contact #occupation{
        font-size: 70%;
    }
    .home #navigationBar, .resume #navigationBar, .contact #navigationBar{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 7;
        grid-column-end: 13;
    }
    .home #navigationBarOverlay, .resume #navigationBarOverlay, .contact #navigationBarOverlay{
        background: rgba(136, 133, 128, 1);
        box-shadow: none;
    }
    .home .navigationBarLayout, .resume .navigationBarLayout, .contact .navigationBarLayout{
        height: 63%;
    }
    .home .navigationBarOptions, .resume .navigationBarOptions, .contact .navigationBarOptions{
        font-size: 90%;
    }
    .home #socialMediaFooter, .resume #socialMediaFooter, .contact #socialMediaFooter{
        grid-area: 10/1/11/13;
    }
    .contact #contactOverlay{
        grid-area: 2/1/10/13;
    }
    .contact #contactImageDiv{
        grid-area: 3/4/4/10;
    }
    .contact #contactInformation{
        grid-area: 4/1/5/13;
    }
    .contact #email{
        font-size: 90%;
        color: cyan;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }
}


@media screen and (max-width: 370px) and (max-height: 640px){
    .home #backgroundImageContainer{
        animation: none;
    }
    .home #backgroundImageContainer, .resume #backgroundImageContainer, .contact #backgroundImageContainer{
        background-image: url(Images/matt/misc/m9.jpg);
        grid-row-start: 2;
        grid-row-end: 10;
        grid-column-start: 1;
        grid-column-end: 13;
    }    
    .home #title, .resume #title, .contact #title{
        grid-area: 1/1/2/7;
    }
    .home #name, .resume #name, .contact #name{
        font-size: 100%;
    }
    .home #occupation, .resume #occupation, .contact #occupation{
        font-size: 70%;
    }
    .home #navigationBarOverlay, .resume #navigationBarOverlay, .contact #navigationBarOverlay{
        background: rgba(136, 133, 128, 1);
        box-shadow: none;
    }
    .home #navigationBar, .resume #navigationBar, .contact #navigationBar{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 7;
        grid-column-end: 13;
    }
    .home .navigationBarLayout, .resume .navigationBarLayout, .contact .navigationBarLayout{
        height: 70%;
    }
    .home .navigationBarOptions, .resume .navigationBarOptions, .contact .navigationBarOptions{
        font-size: 60%;
    }
    .home #socialMediaFooter, .resume #socialMediaFooter, .contact #socialMediaFooter{
        grid-area: 10/1/11/13;
    }
    .contact #contactOverlay{
        grid-area: 2/1/10/13;
    }
    .contact #contactImageDiv{
        grid-area: 3/4/4/10;
    }
    .contact #contactInformation{
        grid-area: 4/1/5/13;
    }
    .contact #email{
        font-size: 75%;
        color: cyan;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    } 
}*/